.App {
  max-width: 1800px;
  width: 100%;
  margin: 70px auto;
}
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.basketQty {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 17px;
  height: 17px;
  font-size: 10px;
  border-radius: 50%;
  position: absolute;
  background: #1484cb;
  left: 55%;
  top: 67%;
}

.basket-content {
  position: absolute;
  right: 11%;
  top: 8vh;
  display: none;
  transition: "all .2s ease-in-out";
}
.basket-content:hover {
  transform: scale(1.05);
}
.show {
  display: block;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #1484cb; 
  border-radius: 10px;
}